.client_phone_parent {
    div {
        display: flex;
        align-items: center;

        .maintenence {
            width: 15%;
            padding: 0;
            margin: 0;
            height: 20px;
        }
    }
}

.top {
    margin-top: 0;
}