@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700;800&family=Manrope:wght@200;300;400;500;600;700;800&display=swap');


body,
a {
    font-family: 'Manrope', sans-serif;
    font-weight: 200;
    font-size: 16px;
    letter-spacing: 1.1px;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Manrope', sans-serif;
}

p {
    font-family: 'Archivo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.2px;
}