.burger-container{
    display: flex;
    align-items: center;
    .burger{
        width: 33px;
        height: 30px;
        padding-top: 7px;
        margin-right: 20px;
        span{
            display: block;
            height: 3px;
            width: 100%;
            margin-bottom: 5px;
            background-color: rgb(48, 48, 48);
            border-radius: 5px;
        }
    }
}